:root {
  --cor-0: #030303;
  --cor-1: #181818;
  --cor-2: #ffffff;
  --cor-3: #efefef;
  --cor-4: #e6e7e8;
  --cor-5: #f9e413;
  --cor-6: #ffbb01;
  --cor-7: #f99c00;
}

.cor-0 {
  color: var(--cor-0);
}
.cor-1 {
  color: var(--cor-1);
}
.cor-2 {
  color: var(--cor-2);
}
.cor-3 {
  color: var(--cor-3);
}
.cor-4 {
  color: var(--cor-4);
}
.cor-5 {
  color: var(--cor-5);
}
.cor-6 {
  color: var(--cor-6);
}
.cor-7 {
  color: var(--cor-7);
}
